@function pxRem($value) {
  @return $value / 16 * 1rem;
}

@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

$color-link: #8BC34A;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}

body {
  @media (max-height: 36rem) and (max-width: 31rem) {
    margin-bottom: 9rem;
  }
}

a,
a:visited {
  color: $color-link;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a:focus {
  outline: none;
  background-color: $color-link;
  color: #fff;
}

p {
  margin-top: 1rem;
}

main {
  max-width: 50rem;
  margin: 0 auto;
}

.recipes {
  padding: 1rem;
  background-color: #DCEDC8;
}

.results {
  list-style-type: none;
  color: gray;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.results__item {
  background-color: #fff;
  box-shadow: 0 0.5rem 0.75rem -0.5rem rgba(black, 0.4);
  padding: 1rem;
  transition: all 0.3s linear;
  visibility: hidden;
  opacity: 0;

  &:not(:first-child) {
    margin-top: 0.5rem;
  }

  &.animate {
    visibility: visible;
    opacity: 1;
  }
}

.ingredient {
  font-weight: bold;

  &:hover {
    cursor: help;
  }
}

.button {
  border: pxRem(1) solid rgba(black, 0.2);
  background-color: #fff;
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: box-shadow 0.1s linear;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba($color-link, 0.5);
  }
}

.button--default {
  background-image: linear-gradient(to top, #eee, #fff);
}

.button--primary {
  background-image: linear-gradient(to top, #8BC34A, #C5E1A5);
  color: #fff;
}

.header {
  position: relative;
  text-align: center;

  @include clearfix;
}

.header__image {
  float: right;

  @media (max-width: 48rem) {
    display: none;
  }
}

.header__titles {
  @media (min-width: 48rem) {
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.footer__description {
  border-bottom: pxRem(1) solid #ccc;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.footer__credits {
  font-size: 0.75rem;
}

.generate-recipes-button-container {
  @media (max-height: 36rem) and (max-width: 31rem) {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(white, 0.85);
    width: 100%;
    box-shadow: 0 -1rem 2rem -1rem rgba(black, 0.3);
  }
}

.generate-recipes-button {
  @media (max-height: 36rem) and (max-width: 31rem) {
    display: block;
    width: 100%;
    padding: 1.5rem;
  }
}
